<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.techurate.api.transfers.VerifyPostEmployee"/>
      <class name="com.techurate.api.transfers.VerifyDeleteEmployee"/>
      <class name="com.techurate.api.transfers.VerifyPutEmployee"/>
      <class name="com.techurate.api.transfers.VerifyPostEmployee"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
